#body {
  background-image: url("https://i.postimg.cc/1RMSXrcH/libraryhuge.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
  margin-top: 0%;
  /* position:relative; */
  background-repeat: repeat;
  background-position: top;


}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 div {
  width: 100px;
  height: 100px;
}

/* header begin */
#header {
  background-image: linear-gradient(rgb(51, 70, 62), rgba(51, 70, 62, .0));
  width: 100%;
  height: auto;
  position: fixed;

}

#header {
  display: inline-block;
  float: none;
  vertical-align: top;
}

/* header end */
/* footer begin */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  z-index: -5;
}

.dropup {
  position: relative;
  display: inline-block;
  z-index: -5;
}

.dropup-content {
  display: none;
  /* position: absolute; */
  bottom: 50px;
  z-index: 1;
  Text-align: center;
  margin-top: 1em;
    z-index: -5;
}

.dropup-content a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: block;
  z-index: -5;
}

.dropup-content a:hover {
  background-image: linear-gradient(90deg, rgba(51, 70, 62, .000001), rgba(51, 70, 62, .1), rgba(51, 70, 62, .000001));
  z-index: -5;
}

.dropup:hover .dropup-content {
  display: block;
  padding-left: 20pt;
    z-index: -5;
}

.dropup:hover .dropbtn {
  background-color: transparent;
    z-index: -5;
}

#footer {
  background-image: linear-gradient(rgba(51, 70, 62, .0), rgb(51, 70, 62));
  margin-top: 10%;
    z-index: -55;
}

/* footer end */




#jumbotron {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  margin: auto;
  margin-top: 15%;
  position: relative;
  background-color: transparent;
  background-image: radial-gradient(rgba(51, 70, 62, .4), rgba(51, 70, 62, .4), rgba(51, 70, 62, .4));
  background-size: 100%;
  -webkit-box-shadow: 20px 20px 57px 9px rgba(51, 70, 62, .2);
  -moz-box-shadow: 20px 20px 57px 9px rgba(51, 70, 62, .2);
  box-shadow: 20px 20px 57px 9px rgba(51, 70, 62, .2);
}

#jumbotron:before,
#jumbotron:after {
  z-index: -1;
  position: absolute;
  bottom: 25px;
  left: 5em;
  width: 50%;
  top: 80%;

}

#jumbotron:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}


.btn {
  border-radius: 1em;
  ;
  margin-top: 1em;
  margin-left: -5%;
  min-width: 70%;
  width: 90%;
  height: auto;
  background-image: linear-gradient(90deg, rgba(51, 70, 62, .1), rgba(51, 70, 62, .2), rgba(51, 70, 62, .4),
    rgba(51, 70, 62, 0.548), rgba(51, 70, 62, .4), rgba(51, 70, 62, .2), rgba(51, 70, 62, .1));
  background-size: 40%;
  padding-top: 1em;
  box-shadow: 5px 10px 18px #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 2px rgba(51, 70, 62, .8);
}

#quiz {
  background-image: linear-gradient(90deg, rgba(51, 70, 62, .002), rgba(51, 70, 62, .2), rgba(51, 70, 62, .4),
    rgba(51, 70, 62, .5), rgba(51, 70, 62, .4), rgba(51, 70, 62, .2), rgba(51, 70, 62, .002));
  width: auto;
  margin: 1em;
  color: white;
  text-align: center;
  left: auto;
  font-size: 32px;
  text-shadow: 3px 3px 3px rgb(51, 70, 62);
}

#start {
  background-image: url("https://i.postimg.cc/V6W8jqyz/start-off.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: space-around;
  z-index: 9999999999;

}

#start:hover {
  background-image: url("https://i.postimg.cc/D0fK5SFL/start-hover.png");


}

#start:active {
  background-image: url("https://i.postimg.cc/x8sVZ9T7/start.png");

}

#score-up,
#up {
  color: yellowgreen;
  text-align: left;
  text-shadow: 4px 4px 5px rgb(51, 70, 62);

}

#timer {
  color: white;
  font-size: 30pt;
  text-shadow: 4px 4px 5px rgb(51, 70, 62);
  float: right;
  justify-content: right;
  z-index: 9999999999;
  position: static;

}

#down,
#wr {
  color: red;

  text-shadow: 4px 4px 5px rgb(51, 70, 62);
  text-align: right;

}

.dropup {
  color: #06d406;
  text-align: right;

  position: relative;
  display: inline-block;
  font-size: 12pt;
}


.dropup-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;

}

.dropup:hover .dropup-content {
  display: block;
}

#personal-link {
  color: rgba(72, 102, 89, 0.61);


}

#personal-link:hover {
  color: rgba(211, 219, 216, 0.815);
  text-shadow: 0 0 4px rgba(51, 70, 62, 1);

}

#container {
  display: flex;
  justify-content: space-between;

}

#container>div {
  width: 100px;
  height: 100px;
  background: linear-gradient(-45deg, #788cff, #b4c8ff);
}

#ql {
  color: darkslategrey;
  Float: center;

  text-align: center;


}

#rules {
  text-align: justify;
}

#questions-left {
  margin-top: 11pt;
  margin-left: 2pt;
}

@media only screen and (max-width: 500px) {
  .btn {
    background-color: rgb(0, 0, 0);
    text-shadow: 2px, 2px, 3px rgb(51, 70, 62);
    padding-top: 5%;
    width: 100%;
    border-radius: .5em;
    margin-top: 10px;
    margin-left: -20%;



  }
}

@media only screen and (max-width: 500px) {
  .my-name {
    background-image: linear-gradient(90deg, rgba(51, 70, 62, .0000005), rgba(51, 70, 62, .0003), rgba(51, 70, 62, .2),
      rgba(51, 70, 62, 0.0010), rgba(51, 70, 62, .05), rgba(51, 70, 62, .05), rgba(51, 70, 62, .1));
    margin-left: 10%;
  }
}

@media only screen and (max-width: 500px) {

  #start,
  #start:hover,
  #start:Active {

    margin-top: 20%;
    margin-left: 18%;
    background-size: 60%;
    position: relative;
    align-content: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 500px) {
  #down {
    margin-top: 0%;
    margin-left: 80%;
    font-size: 16px;
    ;
  }
}

@media only screen and (max-width: 500px) {
  #score-up {
    margin-left: -238%;
    margin-left: 80%;
  }
}

@media only screen and (max-width: 500px) {
  #timer {
    font-size: 22px;
  }
}

@media only screen and (max-width: 500px) {

  #wr,
  #up,
  #score-up {
    font-size: 16px;
  }
}
@media only screen and (max-width: 500px) {

 

  #score-up {
    text-align: left;
  }
}
@media only screen and (max-width: 500px) {
  #quiz {
    font-size: 1em;

  }
}

@media only screen and (max-width: 500px) {
  #up {
    text-align: left;

  }
}

@media (min-width: 768px) {
  #header {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
  }
}

/* @media (min-width: 768px) {
  #start {
    align-content: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
  }
} */
